@media(min-width:768px)
{
    .notes-tab-btn-col 
    {
        padding-right: 0;
        padding-left: 0;
    }
    .notes-tab-btn-col .col-inner
    {
        position: relative;
        padding-top: 104px;
    }
    .notes-tab-btn-col
    {
        border-right: 2px solid #F2F5FC;
    }
    .notes-top-header
    {
        padding: 24px 24px 36px;
        position: absolute;
        top: 0;
        background-color: #fff;
        width: 100%;
        left: 0;
    }
    .notes-tab .accordion-header
    {
        display: none;
    }
    .notes-tab .tab-content .accordion-collapse
    {
        display: block;
    }
}
@media(min-width:992px)
{
    .left-panel-col
    {
        flex: 0 0 276px;
        max-width: 276px;
        width: 276px;
    }
    .right-content-col
    {
        flex: 0 0 calc(100% - 276px);
        max-width: calc(100% - 276px);
        margin-left: 276px;
    }
    .mobile-header,
    .close-panel-btn,
    .mobile-logout-btn  
    {
        display: none;
    }
}
@media(max-width:1400px)
{
    h1,
    .h1
    {
        font-size: 40px;
    }
    h2,
    .h2
    {
        font-size: 30px;
    }
    .form-white .page-title
    {
        margin-bottom: 40px;
    }
    .reset-password-form .title-wrap, 
    .reset-password-form .image-wrap, 
    .reset-password-form .form-group
    {
        margin-bottom: 36px;
    }
    .left-panel-col
    {
        padding-top: 20px;
    }
}
@media (max-width:1365px) {
    .overview-wrap
    {
        padding-right: 60px;
    }
    
}

@media(max-width:1199px)
{
    h1,
    .h1
    {
        font-size: 35px;
    }
    .form-white .page-title
    {
        margin-bottom: 35px;
    }
    .app-header .container
    {
        max-width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
    .login-section
    {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .dashboard-top-wrapper .top-dropdown-col .col-inner
    {
        flex-wrap: wrap;
    }
    .dashboard-middle-wrapper .calender-shift-col
    {
        margin-top: 30px;
    }
    .dashboard-row-main .right-content-col
    {
        padding: 30px;
    }
    .edit-user .edit-user-top .user-image
    {
        flex: 0 0 200px;
        max-width: 200px;
    }
    .edit-user .edit-user-top .edit-user-form
    {
        flex: 0 0 calc(100% - 200px);
        max-width: calc(100% - 200px);
        padding-left: 20px;
    }
    .edit-user-footer .btn-wrap .btn
    {
        width: 270px;
    }
    .tab-content .date-text
    {
        left: 40px;
        transform: none;
    }
    .notes-top-header
    {
        padding: 24px 15px;
    }
    .notes-top-header .top-header-inner
    {
        padding-right: 30px;
    }
}
@media(max-width:1365px) and (min-width:992px)
{
    .dashboard-top-wrapper .top-dropdown-col .col-inner
    {
        flex-wrap: wrap;
    }
    .top-dropdown-col .col-inner>div.dropdown-wrapper
    {
        order: 3;
    }
    .top-dropdown-col
    {
        padding-left: 30px;
    }
    .top-dropdown-col .col-inner>div.dropdown-wrapper
    {
        margin-top: 20px;
    }
    .custom-dropdown
    {
        width: 100%;
    }
    .top-dropdown-col .dropdown-wrapper
    {
        width: 100%;
    }
    .manage-tab-main .nav-tabs
    {
        max-width: 400px;
    }
    .nav-tabs .nav-link
    {
        padding:18px 20px;
    }
    .add-user-pop-wrap .border-btn i
    {
        margin-right: 10px;
    }
    
}
@media(max-width:991px)
{
    .left-panel-col
    {
        left: -300px;
        background-color: var(--primaryColor);
        z-index: 999;
        height: 100vh;
        top: 0;
        width: 300px;
        transition: all 300ms ease-in-out;
    }
    .left-panel-col.show
    {
        left: 0;
        transition: all 300ms ease-in-out;
    }
    .custom-dropdown
    {
        width: 300px;
    }
    .top-dropdown-col .dropdown-wrapper
    {
        width: auto;
    }
    .top-dropdown-col .col-inner>div:first-child
    {
        margin-top: 0;
    }
    .top-dropdown-col
    {
        margin-top: 30px;
    }
    .dashboard-middle-wrapper
    {
        margin-top: 30px;
    }
    .app-main .blue-bg-section
    {
        padding-left:35px;
    }
    .mobile-header .top-dropdown-col
    {
        display: flex;
    }
    .mobile-header .top-dropdown-col > div,
    .mobile-header .top-dropdown-col > button
    {
        margin-left: 5px;
    }
    .mobile-header .navbar-toggler
    {
        background-color: #fff;
        border: none;
        color: var(--textColor);
        box-shadow: none!important;
    }
    .navbar-light .navbar-toggler-icon
    {
        background-image: url(../images/ico/toggle-icon.svg);
        background-size: 20px;
    }
    .mobile-header .top-dropdown-col
    {
        margin-top: 0;
    }
    .mobile-header .navbar
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .app-main .dashboard-section
    {
        background-color: #fff;
    }
    .dashboard-top-wrapper .notification-wrap ,
    .dashboard-top-wrapper .message-wrap
    {
        display: none;
    }
    .table-title-col .custom-dropdown .dropdown-menu
    {
        width: 250px;
    }
    .table-wrapper table td
    {
        padding: 20px 10px;
    }
    .table-wrapper table th
    {
        padding: 15px 10px;
    }
    .table-wrapper table td:first-child,
    .table-wrapper table th
    {
        padding-left: 20px;
    }
    .site-header .container
    {
        max-width: 100%;
    }
    .main-section .section-wrap
    {
       padding-left: 15px;
       padding-right: 15px;
    }
    .left-panel-main
    {
        padding-top: 100px;
    }
    .left-panel-col .navbar-brand
    {
        display: none;
    }
    .left-panel-main .profile-wrapper
    {
        top: 0;
        bottom: auto;
        top: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .left-panel-main .navbar-collapse
    {
        margin-top: 0;
    }
    .left-panel-col
    {
        padding-top: 124px;
    }
    .left-panel-main .profile-wrapper .logout-btn
    {
        display: none;
    }
    .close-panel-btn.close-btn:before, .close-panel-btn.close-btn:after
    {
        background-color: #fff;
    }
    .left-panel-main .profile-image-wrapper
    {
        border-radius: 50%;
        overflow: hidden;
    }
    .left-panel-wrap
    {
        position: initial;
    }
    .close-panel-btn.close-btn
    {
        right: 20px;
    }
    .left-panel-main .logout-btn.mobile-logout-btn
    {
        position: absolute;
        bottom: 36px;
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        left: 0;
        padding: 0 20px
    }
    .mobile-logout-btn .logout-text
    {
        position: absolute;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        left: 75px;
    }
    .left-panel-main .navbar-collapse
    {
        max-height: calc(100vh - 230px);
    }
    .mobile-header
    {
        top: -100px;
        transition: all 400ms ease-in-out;
    }
    .mobile-header.sticky
    {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 990;
        transition: all 400ms ease-in-out;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 9%);
    }
    .manage-user-section .top-dropdown-col,
    .user-edit-section .top-dropdown-col
    {
        display: none;
    }
    .manage-tab-main .add-user-pop-wrap
    {
        position: relative;
        margin-bottom: 20px;
        text-align: right;
    }
    .tab-content
    {
        margin-top: 20px;
    }
    .calculate-btn .btn
    {
        width: auto;
    }
    .document-detail-row
    {
        padding-right: 0;
    }
    .dashboard-top-wrapper .top-dropdown-col
    {
        display: none;
    }
    .mobile-header .navbar-brand img
    {
        max-width: 200px;
        width: 100%;
    }
    
}
@media(max-width:767px)
{
    /* Login page css End*/
    body
    {
        font-size: 14px;
    }
    .container
    {
        padding-left: 24px;
        padding-right: 24px;
    }
    h1, .h1
    {
        font-size: 28px;
    }
    h2, .h2
    {
        font-size: 24px;
    }
    .h5, h5
    {
        font-size: 18px;
    }
    .login-section
    {
        background-color: var(--primaryColor);
        background-image: none!important;
        margin-top: 0;
    }
    .app-header .brand-logo
    {
        margin: auto;
        padding: 32px 0;
    }
    .login-section
    {
        padding-top: 12px;
    }
    .form-white
    {
        padding: 20px;
        background-color: #F2F5FC;
    }
    input.form-control
    {
        height: 48px;
        font-size: var(--smallFontSize);
    }
    .form-white input.form-control
    {
        border: none;
    }
    .form-group
    {
        margin-bottom: 16px;
    }
    .form-white
    {
        font-size: 12px;
    }
    .btn
    {
        font-size: 16px;
        padding: 10px 20px;
    }
    .login-with-btn-wrap > button,
    .reset-password-form .form-sub-title
    {
        font-size: var(--smallFontSize);
    }
    .login-with-btn-wrap > button
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .login-with-btn-wrap,
    .login-with-btn-wrap > button
    {
        margin: 0;
    }
    .form-group.btn
    {
        margin-top: 24px;
    }
    .login-with-button >span
    {
        margin-bottom: 16px;
    }
    .login-with-btn-wrap > button
    {
        margin-bottom: 16px;
    }
    .login-with-btn-wrap > button:last-child
    {
        margin-bottom: 0;
    }
    /* Login page css End*/
    .reset-password-form .title-wrap, .reset-password-form .image-wrap, .reset-password-form .form-group
    {
        margin-bottom: 30px;
    }
    .reset-password-form .form-group.btn
    {
        margin-top: 0;
    }
    .reset-password-form .image-wrap
    {
        max-width: 250px;
    }
    .custom-dropdown .dropdown-toggle,
    .custom-dropdown .dropdown-menu
    {
        font-size: var(--smallFontSize);
    }
    .custom-dropdown
    {
        width: 220px;
    }
    .overview-wrap
    {
        padding-right: 0;
    }
    .table-title-col .col-inner
    {
        justify-content:space-between;
    }
    .table-top-row > div
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .calender-col
    {
        text-align: right;
    }
    .calender-col
    {
        margin-top: 10px;
    }
    .nav-tabs .nav-link
    {
        font-size: 16px;
    }
    .add-user-pop-wrap .border-btn
    {
        font-size: var(--smallFontSize);
    }
    .add-user-popup .modal-dialog
    {
        max-width: 90%;
        min-width: auto;
        margin: 30px auto;
    }
    .add-user-form .image-upload
    {
        margin-bottom: 20px;
    }
    .image-upload .image-upload-wrapper
    {
        height: auto;
    }
    .edit-user .edit-user-top .user-image,
    .edit-user .edit-user-top .edit-user-form
    {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }
    .edit-user-top .image-preview img
    {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .edit-user .edit-user-top .user-image
    {
        margin-bottom: 20px;
    }
    .edit-user-top .row > div:nth-last-child(2) .form-group
    {
        margin-bottom: 20px;
    }
    .edit-user-footer .btn-wrap .btn
    {
        width: 180px;
        font-size: 14px;
    }
    .credential-table-wrapper .table-wrapper tr td:first-child, .credential-table-wrapper .table-wrapper table tr td
    {
        min-width: 200px;
    }
    .status-toggle-switch button
    {
        width: 60px;
    }
    .rmdp-container .rmdp-wrapper
    {
        width: 290px;
    }
    .rmdp-container .rmdp-calendar
    {
        width: 100%;
    }
    .rmdp-wrapper .rmdp-day span,
    .rmdp-wrapper .rmdp-week-day
    {
        font-size: 12px;
    }
    .tab-top-btn
    {
        display: none;
    }
    .mobile-user-header
    {
        display: block;
    }
    .edit-user-form .user-header
    {
        display: none;
    }
    .scheduling-btn h6
    {
        font-size: 14px;
    }
    .notes-tab-btn-col .nav
    {
        display: none;
    }
    .notes-tab .tab-pane
    {
        display: block;
        opacity: 1;
    }
    .notes-tab-content-col
    {
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .notes-tab-header
    {
        width: 100%;
    }
    .notes-tab .accordion-button:after
    {
        display:none
    }
    .notes-tab .accordion-button
    {
        border: 1px solid var(--primaryBorderColor);
        border-radius: 12px!important;
    }
    .notes-tab .tab-pane
    {
        margin-bottom: 20px;
    }
    .notes-tab .accordion-button[aria-expanded="true"]
    {
        border-color: #F2F5FC;   
    }
    .notes-tab .accordion-body
    {
        
        padding-bottom: 10px;
        position: relative;
    }
    .notes-tab .view-note
    {   
        padding-top: 100px;
    }
    .tab-content .date-text
    {
        left: 0;
    }
    .edit-note button.btn
    {
        float: none;
    }
    .tab-content .edit-note{
        padding-top: 10px;
    }
    .notes-tab-text
    {
        font-size: 14px;
    }
    .calc-main-row .cost-label
    {
        flex: 0 0 100px;
        max-width: 100px;
    }
    .calc-main-row .col-md-6
    {
        flex: 0 0 calc(50% - 50px);
        max-width: calc(50% - 50px);
    }
    .workforce-calc-inner .calc-top-row
    {
        margin-left: 100px;
    }
    .calc-top-row .cost-col
    {
        flex: 0 0 50%;
        max-width: 50%;
        
    }
    .calc-main-row .cost-label
    {
        padding-left: 0;
        padding-right: 0;
    }
    .calc-main-row .col-md-12
    {
        flex: 0 0 calc(100% - 100px);
        max-width: calc(100% - 100px);
    }
    .document-table .table-wrapper table td:nth-child(2)
    {
        min-width: 100px;
    }
    .document-table .table-wrapper table td
    {
        min-width: 140px;
    }
    .document-table .table-wrapper table td:last-child
    {
        min-width: 180px;
    }
    .document-table .border-btn
    {
        padding-left: 30px;
        padding-right: 30px;
        font-size: var(--smallFontSize);
    }
    .document-table .table-wrapper
    {
        padding: 15px;
    }
    .table-search-filter input[type="search"]
    {
        width: 250px;
    }
    .table-filter-row .custom-dropdown
    {
        margin-left: 10px;
    }
    .document-details-wrap.edit-user-form .user-header
    {
        display: flex;
        margin-bottom: 20px;
    }
    .document-details-wrap .user-header .border-btn
    {
        padding: 12px;
    }
    .mobile-header .navbar-brand img
    {
        max-width: 150px;
    }
    .add-shift-popup .modal-dialog
    {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .timesheets-main-section .filter-row-wrapper 
    {
        flex-wrap: wrap;
    }
    .timesheets-main-section .filter-row-wrapper  .search-input-wrap
    {
        margin-bottom: 20px;
        flex: 0 0 100%;
    }
    .table-filter-timesheets-row
    {
        flex: 0 0 100%;
    }
    .timesheets-main-section .table-filter-row .custom-dropdown
    {
        margin-left: 0;
    }
    .add-user-popup.note-popup .modal-dialog
    {
        min-width:auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }
    .table-filter-row .custom-dropdown
    {
        margin-left: 0;
    }
    .table-filter-timesheets-row .btn.btn-without-icon
    {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}
@media(max-width:575px)
{
    .mobile-header .navbar-toggler
    {
        padding-left: 0;
        padding-right: 0;
    }
    .top-dropdown-col .btn-square
    {
        height: 40px;
        width: 40px;
        line-height: 36px;
    }
    .app-main .blue-bg-section.main-section
    {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .quotes-wrap
    {
        font-size: 12px;
    }
    .overview-wrap .overview-shift-single
    {
        margin-bottom: 10px;
    }
    .fc .fc-scrollgrid-section table
    {
        width: 100%!important;
    }
    .schedule-shift-calender .fc-col-header-cell-cushion .day-name
    {
        font-size: 12px;
    }
    .schedule-shift-calender .fc .fc-col-header-cell-cushion
    {
        width: 35px;
        padding: 9px 6px 8px;
    }
    .schedule-single .time-wrapper,
    .schedule-single .schedule-shift-content
    {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        padding-left: 10px;
    }
    .schedule-shift-calender .fc-col-header-cell-cushion .date,
    .schedule-single .time-wrapper
    {
        font-size: 14px;
    }
    .schedule-single .time-wrapper
    {
        margin-bottom: 10px;
    }
    .schedule-listing-wrapper
    {
        padding-right: 20px;
    }
    .schedule-shift-calender .fc .fc-view-harness
    {
        height: 67px!important;
        margin-bottom: 20px;
    }
    .schedule-single
    {
        margin-bottom: 10px;
    }
    .table-wrapper table tr td
    {
        font-size: 14px;
    }
    .notification-popup
    {
        width: 300px;
    }
    .dashboard-row-main .right-content-col
    {
        padding: 20px;
    }
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb
    {
        display: none;
    }
    .nav-tabs .nav-item
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .nav-tabs .nav-link
    {
        margin-left: 0;
    }
    .table-filter-row .search-input-wrap
    {
        margin-bottom: 10px;
    }
    .add-user-pop-wrap .border-btn
    {
        width: 100%;
    }
    .table-filter-row .search-input-wrap
    {
        width: 100%;
    }
    .table-filter-row .custom-dropdown
    {
        width: 100%;
        margin-left: 0;
    }
    .table-filter-row .dropdown-wrapper
    {
        width: 100%;
    }
    .tab-content
    {
        margin-top: 30px;
    }
    .user-facilty-table-wrapper .table-wrapper
    {
        padding: 15px;
    }
    .tab-content .table-wrapper table tr th
    {
        padding-bottom: 10px;
    }
    .tab-content .table-wrapper tbody tr:nth-child(odd) td
    {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .tab-content .table-wrapper td:first-child
    {
        min-width: 140px;
    }
    .manage-tab-main .add-user-pop-wrap
    {
        margin-bottom: 10px;
    }
    .user-header .border-btn
    {
        margin-left: auto;
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        width: 100%;
    }
    .edit-user .edit-user-top
    {
        margin-top: 20px;
    }
    .edit-user-form .form-group,
    .add-user-popup .form-group
    {
        margin-bottom: 15px;
    }
    .edit-user-form .form-label,
    .add-user-popup .form-label
    {
        font-size: 12px;
    }
    .edit-user-form input.form-control,
    .add-user-popup input.form-control,
    .date-of-birth-input input.rmdp-input
    {
        height: 42px;
        padding: 10px 15px;
        font-size: 14px;
    }
    .add-user-popup .custom-dropdown .dropdown-toggle.btn
    {
        height: 42px;
        font-size: 14px;
    }
    .edit-user .edit-user-top, .edit-user .edit-user-bottom,
    .edit-user .credential-wrapper
    {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .edit-user-footer .btn-wrap .btn
    {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .add-user-popup .submit-btn .btn
    {
        width: 100%;
    }
    .add-user-popup .modal-body
    {
        padding: 20px;
    }
    .credential-table-wrapper
    {
        padding: 15px;
    }
    .edit-user-form .custom-dropdown .dropdown-toggle.btn
    {
        height: 42px;
    }
    .workforce-calc-inner .calc-top-row
    {
        margin-left: 0;
    }
    .workforce-calc-single
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .calc-top-row .cost-col
    {
        padding: 8px 10px;
    }
    .calc-top-row span, .calc-main-row .cost-label span
    {
        font-size: 12px;
    }
    .calc-main-row .cost-label
    {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .calc-main-row .col-md-6
    {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .calc-main-row
    {
        margin-left: -5px;
        margin-right: -5px;
    }
    .calc-main-row .cost-label span{
        color: var(--placeHolderColor);
        font-weight: 500;
        margin-bottom: 5px;
    }
    .calc-main-row .col-md-12
    {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .calc-main-row .cost-col span
    {
        font-size: 12px;
    }
    .table-search-filter input[type="search"]
    {
        width: 100%;
    }
    .document-details-wrap .user-header .border-btn
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .change-password-popup .modal-dialog
    {
        min-width: 90%;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .change-password-popup .submit-btn .btn
    {
        margin-top: 30px;
    }
    .mobile-header .navbar-brand img
    {
        max-width: 140px;
    }
    .shift-input-wrap .form-group
    {
        flex: 0 0 calc(100% - 40px);
        max-width: calc(100% - 40px);
    }
    .shift-input-wrap .color-dropdown
    {
        flex: 0 0 40px;
        max-width: 40px;
    }
    .custom-popup .modal-body
    {
        padding: 24px 15px;
    }
    .add-shift-popup .modal-dialog
    {
        max-width: 95%;
    }
}
@media(max-width:374px)
{
    .form-white
    {
        padding: 15px;   
    }
    .container
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-white .page-title
    {
        margin-bottom: 30px;
        margin-top: 5px;
    }
}